.preview
    background-color: #f1e4e6
    &__wrap
        max-width: 1600px
        margin: 0 auto
        display: flex
    &-img
        width: 800px
        height: 764px
    &__heading
        display: flex
        align-items: center
        margin-left: 63px
        padding-bottom: 92px
        &::before
            content: ""
            border-left: 12px solid #f16d7f
            height: 92px
            margin-right: 16px
    &-title
        width: 377px
        font-size: 48px
        line-height: 58px
    &-subtitle
        display: block
        font-size: 32px
        line-height: 1
