.products
    display: flex
    &-heading
        text-align: center
        &__title
            font-size: 30px
            line-height: 36px
        &__text
            color: #9f9f9f
            line-height: 17px
            margin-top: 6px
    &__grid
        padding: 47px 0
        display: grid
        grid-template-columns: repeat(3, minmax(0, 360px))
        grid-gap: 30px
    &-item
        background-color: #f8f8f8
        $root: &
        &:hover
            #{$root}
                &__action-wrap::after
                    display: flex
                &__img
                    transform: scale(1.05)
                    transition: transform 300ms
                &__add-btn
                    display: flex
                    z-index: 1
        &__action-wrap
            display: flex
            position: relative
            overflow: hidden
            &::after
                content: ""
                position: absolute
                top: 0
                bottom: 0
                width: 100%
                background-color: rgba(58, 56, 56, .86)
                display: none
        &__img
            width: 100%
        &__add-btn
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: flex
            align-items: center
            justify-content: center
            display: none
        &__caption
            padding: 26px 18px 20px
        &__title
            color: #000
            font-size: 13px
            line-height: 16px
        &__text
            color: #5d5d5d
            line-height: 17px
            margin: 12px 0 18px
        &__price
            font-size: 16px
            line-height: 19px
    &-btn
        color: #fff
        border: 1px solid #fff
        background-color: transparent
        width: 139px
        &__icon
            width: 26px
            height: 24px
        &__text
            line-height: 17px
            margin-left: 11px
            padding: 12px 0
    &__browse-all
        margin: 0 auto 94px
        padding: 14px 20px
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid #ff6a6a
        font-size: 16px
        line-height: 19px
        width: 212px
        &:hover
            background-color: #f16d7f
            color: #fff
            transition: background-color 300ms

@media screen and ( max-width: 1024px )
    .products
        &__grid
            padding: 72px 0 33px
            grid-template-columns: repeat(2, minmax(0, 360px))
            grid-gap: 16px
        &__browse-all
            margin-bottom: 65px

@media screen and ( max-width: 481px )
    .products
        display: flex
        justify-content: center
        &__grid
            padding: 65px 0 40px
            grid-template-columns: minmax(0, 360px)
        &__browse-all
            margin-bottom: 96px
